body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f16;
  color: #fff;
}

/* Main Content */
.content {
  padding: 40px;
}

h1,
h2 {
  color: #f7f700; /* Your yellow */
}

.card {
  border: 2px solid #f7f700; /* Yellow border */
  border-radius: 10px;
  padding: 20px;
  margin: 30px 0;
  background-color: black;
}

.card h3 {
  color: #fff;
}

ul li {
  margin-bottom: 8px;
}

.email {
  color: #f7f700; /* Yellow email link */
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}
